spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/tasklist
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  sql:
    init:
      mode: always
      continue-on-error: false

security:
  jwt:
    secret: ZnV0bmpoZXBicmJ0dmZubGppbmZ5dG55ZmlicmJjdmZueGZ2aW10aGphbmV2d3lhdm1qbGJrdGdlaGZweHJsamVyZmFsamRpZWJzc2hmZ3NvaGpheWRqZHdkZg==
    access: 3600000
    refresh: 25920000

mybatis:
  mapper-locations: classpath:/mybatis/mapper/*.xml